* {
    box-sizing: border-box;
    margin: 0 auto;
}


.container {
    width: 100%;
    background: rgba(116,122,140,0.6);
    position: relative;
    left: 18rem;
    margin-right: 10rem;
}

nav {
    position: fixed;
    background: darkblue;
    width: 18rem;
    color: white;
    top: 0;
    left: 0;
    height: 100vh;
}

.navigation-items {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 20vh 0 0 0;
}

#passport-picture {
    border-radius: 100%;
    max-height: 10rem;
    max-width: 10rem;
}


