@font-face {
    font-family: ThreeDimentionalFont;
    src: url("src/BEYONDCONTROL.ttf");
}

html{scroll-behavior:smooth}

* {
    box-sizing: border-box;
    margin: 0 auto;
}

span {
    animation: fall 1.3s forwards;
}

@keyframes fall {
    0% {
        transform: translateY(-78px);
    }

    100% {
        transform: translateY(7px);
    }
}

.container {
    width: calc(100% - 18rem);
    position: relative;
    left: 18rem;
    top: 8rem;
    z-index: 0;
    margin: 0;
}


nav {
    position: fixed;
    background: darkblue;
    width: 18rem;
    color: white;
    top: 0;
    left: 0;
    height: 100vh;
}

.navigation-items {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 12.5vh 0 0 0;
}

#passport-picture {
    border-radius: 100%;
    max-height: 10rem;
    max-width: 10rem;
}

.nav-item {
    font-family: BeyondControl sans-serif;
    font-size: 1.5rem;
    padding: 0.2rem 0 0.5rem 0;
    margin: 0 2rem 0 2rem;
}

.nav-item:hover {
    transition: all 0.8s ease;
    color: pink;
    border: 1px solid pink;
}

.nav-item a {
    text-decoration: none;
    color: white;
}

.nav-item:visited {
    text-decoration: none;
    color: pink;
}


.name-container {
    background: pink;
    height: 8rem;
    width: 100%;
    position: fixed;
    left: 18rem;
    margin-right: 10rem;
    z-index: 1000;
}

#title-name {
    font-family: ThreeDimentionalFont, sans-serif;
    color: black;
    font-size: 30px;
    display: inline;
    position: fixed;
    top: 2rem;
}

#cartoon-me {
    border-radius: 50%;
    margin: 1rem 1rem 0 2rem;
    display: inline;
    max-height: 5rem;
    max-width: 5rem;
}

.categories {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 1.5rem;
    height: 60vh;
    padding-top: 8rem;
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 38%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icons {
    position: relative;
    left: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    margin: 1rem 1rem 0 0
}
#IconsSection {
    position: fixed;
    top: 9rem;
    left: 19rem;
}

.icons_title {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 1.5rem;
}